<nav class="navbar navbar2-custom navbar-expand-md navbar-light" id="navbar2">
  <div id="navbarMenu" class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link  nav2-btn" href="#bandd">Breakfast & Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#pandr">Pulses & Rice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#sandm">Spices & Masalas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#fpands">Food products & Snacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#handg">Homecare & other goods</a>
      </li>
    </ul>
</nav>

<div class="" id="cartMessage" role="alert"></div>

<!--Images Carousel -->
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag("groceries.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
    <div class="carousel-item">
      <%=image_tag("rice.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
    <div class="carousel-item">
      <%=image_tag("milk.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
  </div>
</div>

<div class="item-cards">
  <div data-spy="scroll" data-target="#navbar2" data-offset="0">
    <%=render :partial => 'item_cards', :locals => {:item_ctg => @item_ctg}%>
  </div>
</div>
<script>
  $(document).ready(function(){
    setInterval(function(){
      $('.carousel').carousel('next');
    },5000);

    $('#cartMessage').hide();

    $(".addToCart").on('click', function(event){
      event.stopPropagation();
      event.stopImmediatePropagation();
      var itemId = $(this).attr('data-item-id')
      $.ajax({
        url: "order/add_to_cart",
        type: "POST",
        data: {item_id: itemId},
        dataType: "html",
        success: function(data) {
          var data = JSON.parse(data);
          if(data.redirect_url){
            window.location.replace(data.redirect_url+'?error='+data.error);
          }
          else if(data.message){
            document.getElementById("cartMessage").classList.remove('alert','alert-danger');
            $('#cartMessage').addClass('alert alert-success');
            document.getElementById("cartMessage").innerHTML = "<h4><center>"+data.message+"</center></h4>"
            $('#cartMessage').show();
            setInterval(function(){
              $('#cartMessage').hide();
            },3000);
          }
          else if((data.error || data.message)&& !data.redirect_url){
            document.getElementById("cartMessage").classList.remove('alert','alert-danger');
            $('#cartMessage').addClass('alert alert-danger');
            document.getElementById("cartMessage").innerHTML = "<ul><li>"+data.message+"</li></ul>"
            $('#cartMessage').show();
            setInterval(function(){
              $('#cartMessage').hide();
            },3000);
          }
        },
        error: function (data) {
        }
      });
    });

    $(".removeFromCart").on('click', function(event){
      event.stopPropagation();
      event.stopImmediatePropagation();
      var itemId = $(this).attr('data-item-id')
      $.ajax({
        url: "order/remove_from_cart",
        type: "POST",
        data: {item_id: itemId},
        dataType: "html",
        success: function(data) {
          var data = JSON.parse(data);
          if(data.redirect_url){
            window.location.replace(data.redirect_url+'?error='+data.error);
          }
          else if(data.message){
            $('#cartMessage').addClass('alert alert-success');
            document.getElementById("cartMessage").innerHTML = "<h4><center>"+data.message+"</center></h4>"
            $('#cartMessage').show();
            setInterval(function(){
              $('#cartMessage').hide();
            },3000);
          }
          else if(data.error && !data.redirect_url){
            document.getElementById("cartMessage").classList.remove('alert','alert-danger');
            $('#cartMessage').addClass('alert alert-danger');
            document.getElementById("cartMessage").innerHTML = "<h4><center>"+data.error+"</center></h4>"
            $('#cartMessage').show();
            setInterval(function(){
              $('#cartMessage').hide();
            },3000);
          }
        },
        error: function (data) {
        }
      });
    });
  });
</script>
