<h1>Address Book</h1>
<%=render :partial => 'users/account_settings/as_partials/show_address'%>
<div class="spinner-border text-success" id="addressSpinner" role="status">
  <span class="sr-only"></span>
</div>
<%=render :partial => 'users/account_settings/as_partials/new_address'%>
<script>
  $(document).ready(function(){
    $('#newAddressForm').hide();
    $('#addressSpinner').hide();
    $('#errorBlock').hide();

    $('#newAddress').click(function(){
      $('#addressList').toggle();
      $('#newAddressForm').toggle();
      $('#newAddress').hide();
    });

    $("#newAddressForm1").on('ajax:success',function(e, data, status, xhr){
      $("#newAddressForm").css("pointer-events","none");
      $("#newAddressForm").css("filter","blur(5px)");
      $('#addressSpinner').show();
      setInterval(function(){
        $("#newAddressForm").css("pointer-events","all");
        $("#newAddressForm").css("filter","blur(0px)");
        $('#addressSpinner').hide();
        location.reload();
      },2000);
    }).on('ajax:error',function(e, xhr, status, error){
        var data = e.detail
        var errors = data[0]
        var error_messages = []
        var li = ""
        for(let message in errors){
          error_messages.push(message.charAt(0).toUpperCase()+message.slice(1)+" "+errors[message])
        }
        for(let i=0; i< error_messages.length; i++){
          li += ("<li>"+error_messages[i]+"</li>")
        }
        $("h3").append("Error(s)");
        $("ul").append(li);
        $("#errorBlock").show();
    });

  });

</script>
